---
layout: layouts/page.njk
title: Contact
description: Get in touch with Jonas Glohse
---

<p>The best way to reach me is by email.</p>
<p><a href="mailto:[your@email.com]">[your@email.com]</a></p>
